body {
    font-family: 'Orbitron';
    background-color: #121416;
    margin: 200 auto;
    padding: 0;
    
}
.section-box2 {
    border: 2px solid #2D3031;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    color: #C6FC0E;
    background-color: #2D3031;
}
.section-box {
    display: inline-block;
    margin: 0 20px; /* Ajusta el margen según tu preferencia */
}

.container {
    text-align: center; /* Centra el contenido en el contenedor principal */
}

.section-box, .result-box, .table, .header, .row, .column {
    border: 2px solid #2D3031;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    color: #C6FC0E;
    background-color: #4E575C;
}

.section-title {
    font-weight: bold;
    font-size: 1.2em; /* Puedes ajustar el tamaño del texto según tu preferencia */
    margin-bottom: 10px; /* Espacio entre el título y el contenido */
}

.section-box p, .result-box p {
    margin: 0;
}


.header {
    display: flex;
    font-weight: bold;
}

.column {
    flex: 1;
    text-align: center;
}

.row {
    display: flex;
}

.table {
    display: flex;
    flex-direction: column;
}
.result-table td {
    width: 1%; /* Ajusta la cantidad de espacio según tu preferencia */
}
.result-table td {
    padding: 10px; /* Ajusta la cantidad de espacio según tu preferencia */
    text-align: center; /* Centra el contenido horizontalmente */
}

.result-table th {
    text-align: center; /* Centra el contenido horizontalmente en las celdas de encabezado */
}

.position {
    display: inline-block;
    width: 7%; /* Puedes ajustar el ancho según tus necesidades */
    text-align: left; /* Para alinear el texto a la derecha dentro de la caja */
    margin-right: 15px;
}
@media only screen and (min-width: 1100px) {
    .section-box p {
        font-size: 30px;
    }
    .position {
        margin-right: 12px; /* Ajusta según tu preferencia */
    }
}
@media only screen and (min-width: 768px) and (max-width: 1099px) {
    .position {
        margin-right: 17px;
    }
    .section-box p {
        font-size: 24px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .section-box p {
        font-size: 15px;
    }
    .position {
        margin-right: 18px; /* Ajusta según tu preferencia */
    }
    .section-box {
        margin:  5px; /* O el valor que prefieras para pantallas más pequeñas */
    }
    .section-box2 {
        padding: 5px; /* O el valor que prefieras para pantallas más pequeñas */
    }
    body {
        font-size: 88%;
    }
    .titles1 {
        font-size: 80%;
    }
}

@media only screen and (max-width: 599px) {
    .section-box p {
        font-size: 10px;
    }
    .position {
        margin-right: 15px;
    }
    .section-box {
        margin:  5px; /* O el valor que prefieras para pantallas más pequeñas */
    }
    .section-box2 {
        padding: 5px; /* O el valor que prefieras para pantallas más pequeñas */
    }
    body {
        font-size: 80%;
    }
    .titles1 {
        font-size: 80%;
    }
}